.container {
	max-width: 600px;
	margin: 0 auto;
}

h1 {
	text-align: center;
}

form {
	margin-bottom: 20px;
}

input[type='text'],
textarea {
	width: 100%;
	margin-bottom: 10px;
}

.note {
	border: 1px solid #000;

	display: flex;
	flex-direction: column;
}
